@import "../../assets/scss/variables";

.header-container {
  background-color: $navy-blue;
  box-shadow: 1px 10px 5px #ccc;
  color: $light-blue-grey;
  display: flex;
  padding: 10px;

  .header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .first-section {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 20%;
    }

    .second-section {
      width: 60%;
      justify-content: flex-end;
    }

    .header-menu {
      display: flex;
      font-size: 1em;
      
      .menu-name {
        font-family: $satisfy;
        font-weight: bold;
        font-size: 2.5em;
        line-height: 1.5;
        letter-spacing: normal;
        margin: 0;
      }

      .menu-message {
        margin: 0;
      }

      .menu-list {
        display: flex;
        font-size: 1.3em;
        font-weight: lighter;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        min-width: 80%;
        text-transform: capitalize;
        padding: 0;
  
        .menu-item {
          align-self: center;
          a {
            text-decoration: none;
            color: $light-blue-grey
          }
          a:hover {
            color: $orange;
            border-bottom: 1px solid $orange;
            padding-bottom: 5px;
          }
          a > [data-icon]:before {
            display: inline-block;
            content: attr(data-icon);
          }
        }

        .menu-item:hover {
          color: $orange;
          box-shadow: 3px 25px 15px rgba(0, 0, 0, 0.15);
          font-weight: bold;
          transform: translate3D(0, -1px, 0);
        }
      }
    }
  }
  
}
