@import "../../assets/scss/variables";

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $navy-blue;
  box-shadow: 1px 10px 5px #ccc;
  color: $light-blue-grey;
  height: 12%;
  padding: 0px 80px;

  .header {
    background: $navy-blue;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    width: 100%;

    .first-section {
      align-items: center;
      display: flex;
      flex-direction: column;

      .menu-name {
        font-family: $satisfy;
        font-weight: bold;
        margin: 0;
      }

      .menu-message {
        margin: 0;
      }
    }

    .second-section {
      display: flex;
      color: $light-blue-grey;
      width: 60%;
      align-items: center;
      .menu-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        text-transform: capitalize;
        padding: 0;
        width: 100%;
        .menu-item {
          .menu-link {
            color: $light-blue-grey;
            text-decoration: none;
          }

          .menu-link:hover {
            color: $orange;
            border-bottom: 1px solid $orange;
            font-size: bold;
            padding-bottom: 5px;
          }
        }

        .menu-item:hover {
          color: $orange;
          box-shadow: 3px 25px 15px rgba(0, 0, 0, 0.15);
          font-weight: bold;
          transform: translate3D(0, -1px, 0);
        }
      }
    }
  }
}
